.people {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 40px 30px;
  justify-content: center;
}



.photo {
  position: relative;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 200px;
}

.rank {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #fff;
  color: #8b0000;
  right: 4%;
  top: 41%;
}

.details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  margin-top: 8px;

}

.extra {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 28px;
  display: none;
  font-size: 18px;
  line-height: 21px;
}

.name {
  color: #2F4F4F;
  font-size: 20px;
  line-height: 23px;
}

.person {
  box-sizing: border-box;
  transition: all 1s;
  &:hover {
    .details .extra {
      display: block;
    }
    .photo img {
      border-radius: 60px;
    }
    background-color: #EEEEEE;
    border-radius: 12px;
    z-index: 1;
    transform: scale(1.2);
  }
}

@media (min-width: 1000px) {
  .people {
    grid-template-columns: repeat(4, 200px);
  }
}
