body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.people {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 20px;
  justify-content: center;
  width: 500px;
}

.photo {
  position: relative;
}

img {
  transition-duration: 1s;
  transition-delay: 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 200px;
}

.rank {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #fff;
  color: #8b0000;
  right: 4%;
  top: 41%;
}

.details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  margin-top: 8px;
}

.extra {
  width: 100%;
  text-align: center;
  top: 28px;
  visibility: hidden;
  font-size: 18px;
  line-height: 21px;
}

.pay::before {
  content: "$";
}

.pay::after {
  content: "M";
}

.name {
  color: #2f4f4f;
  font-size: 20px;
  line-height: 23px;
}

.person {
  padding: 10px;
  box-sizing: border-box;
  transition: all 1s;
  &:hover {
    .details .extra {
      visibility: visible;
    }
    .photo img {
      border-radius: 60px;
    }
    background-color: #eeeeee;
    border-radius: 12px;
    z-index: 1;
    transform: scale(1.2);
  }
}

@media (min-width: 1000px) {
  .people {
    width: 900px;
    grid-template-columns: repeat(4, 1fr);
  }
}
